@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #3b82f6; /* blue-500 */
  --color-secondary: #10b981; /* green-500 */
  --color-dark: #1f2937; /* gray-800 */
  --color-light: #f3f4f6; /* gray-100 */
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-light);
  color: var(--color-dark);
}

.dark body {
  background-color: var(--color-dark);
  color: var(--color-light);
}
